body{
  text-align: center;
}
.texto{
  font-family: 'Rochester', cursive;
  font-size: 40px;
    text-shadow: -5px -5px 5px #aaa;
}
#total{
  background-color: #6E6E6E;
  width: 1000px;
  height: 470px;
  position: relative;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;

}
.relativo{
  position: absolute;
  left: 7%;
  top: 4%;
}
.contenedor{
  float: left;
  width: 165px;
  height: 165px;
  background-image: url(https://s-media-cache-ak0.pinimg.com/564x/12/d8/bc/12d8bcd247b603d2d733562577301f7f.jpg);
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 53px;
  border-radius: 10px;
}
.imagen{
  width: 145px;
  height: 145px;
  margin: 10px;
  border-radius: 10px;

}
